html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(207,153,255);
    background: linear-gradient(135deg, rgba(207,153,255,1) 0%, rgba(0,212,255,1) 100%);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 800px;
    margin: auto;
}

h1 {
    width: 100%;
    text-align: center;
    color: #FFF;
    text-shadow: #000 0 0 10px;
}

.border {
    border-radius: 12px;
}

#notesForm input {
    background-color: #F5F5F5;
    border: 0;
    min-height: 100px;
    vertical-align: text-top;
    flex-grow: 1;
    padding: 12px;
    margin-bottom: 12px;
}

#notesForm input:focus {
    outline: none;
}

#notesForm button {
    align-self: flex-end;
    background: #80fe9f;
    border-radius: 18px;
    color: #3cb456;
    font-weight: bold;
    padding: 8px 12px;
    border: 0;
}

#notesForm button {
    align-self: flex-end;
    background: #80fe9f;
    border-radius: 18px;
    color: #3cb456;
    font-weight: bold;
    padding: 8px 12px;
    border: 0;
}

.note {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    flex-direction: column;
    background: #FFF;
    padding: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 24px auto;
}

.note button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.note * {
    padding: 0;
    margin: 0;
}

p, input {
    font-size: 1.2em;
}

.note .date {
    align-self: flex-end;
    background: #FECB80;
    color: #F09050;
    font-weight: bold;
    font-size: 1em;
    padding: 8px 12px;
}